Simple_Mathematical_Surface/[Ll]ibrary/
Simple_Mathematical_Surface/[Tt]emp/
Simple_Mathematical_Surface/[Oo]bj/
Simple_Mathematical_Surface/[Bb]uild/
Simple_Mathematical_Surface/[Bb]uilds/
Simple_Mathematical_Surface/[Ll]ogs/
Simple_Mathematical_Surface/[Uu]ser[Ss]ettings/
Simple_Mathematical_Surface/[Mm]emoryCaptures/
Simple_Mathematical_Surface/[Rr]ecordings/
Simple_Mathematical_Surface/[Aa]ssets/Plugins/Editor/JetBrains*
Simple_Mathematical_Surface/.vs/
Simple_Mathematical_Surface/.idea/
Simple_Mathematical_Surface/.gradle/
Simple_Mathematical_Surface/ExportedObj/
Simple_Mathematical_Surface/.consulo/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.apk
*.aab
*.unitypackage
*.app

sysinfo.txt
crashlytics-build.properties

Simple_Mathematical_Surface/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
Simple_Mathematical_Surface/[Aa]ssets/[Ss]treamingAssets/aa.meta
Simple_Mathematical_Surface/[Aa]ssets/[Ss]treamingAssets/aa/*
